@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url('../fonts/Roboto-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

h1,
h2,
h3,
h4,
p {
    margin: 0 0 0 0;
}

.cont {
    margin: 0 auto;
    max-width: 1440px;
    width: 82%;
    position: relative;
    overflow: hidden;

    // @media only screen and (min-width: 2500px) {
    //     width: 100%;
    //     max-width: 1920px;
    // }
}

.element-animation {
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}

body {
    margin: 0;
    font-family: 'Roboto', Courier, monospace;
    font-weight: normal;
    position: relative;
}

@keyframes ani {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateY(0);
    }
}